body {
    background-color: lightgray;
}

#message{
    width: 400px;
    background-color: #ddaaaa;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ff7777;
    font-weight: bold;
    opacity: 0;
}

#message.show{
    opacity: 1;
}

#color-changer{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background-color: #fff;
}