body{
    /* #F5F5F5 or #555 */
    background-color:lightcyan;
    color: #555555;
    /* it checks for the first font, if-not the second, if-not the third, ... */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* px - cm - em - % - in */
    font-size: 16px;
    /* em = x.x bigger than default size */
    line-height: 1.6em;
    font-weight: inherit;
    margin:100px;
}

.container{
    /* percentage is ideal so it adjusts along with the margin */
    width: 70%;
    /* auto is to make the margins fits on the screen size (browser) */
    margin: auto;
}

a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
a:hover{ color:red; }
a:active{ color:green; }
a:visited{ color:yellowgreen;}

.box-1{
    background-color:#333333;
    color:#fff;
    border:5px solid red;
    padding: 20px;
    margin: 20px 0;
    /*
    #########long way###########
    border-top-color: red;
    border-top-style: solid;
    border-top-width: 5px;

    border-right-color: blue;
    border-right-style: dashed;
    border-right-width: 6px;

    border-bottom-color: green;
    border-bottom-style: dotted;
    border-bottom-width: 6px;

    border-left-color: orange;
    border-left-style: solid;
    border-left-width: 5px; 
    
    ##########good way#########
    border-top: 4px solid red;
    border-bottom: 4px solid orange;
    border-right: 6px outset blue;
    border-left: 6px outset green; 
    
    #######general way########
    border-color: red;
    border-style: outset;
    border-width: 5px;
    border:5px outset red;
    
    padding-top: 400px;
    padding-right: 300px;
    padding-bottom:200px;
    padding-left:100px;

    ##Top - Right - Bottom - Left##
    padding: 100px 200px 200px 200px;
    #Top/Bottom - Left/Right#
    padding: 200px 300px;
    #Top/Bottom/Left/Right#
    padding: 100px;

    margins follows the similar syntax of padding
    margin:100px; 
    */
}

/* target a tag inside a class */
.box-1 h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .5em;
    word-spacing: 1em;
}

#box-2 {
    border: 3px inset gray;
    padding: 20px;
    margin:20px 0;
    background-color: lightgoldenrodyellow;
}

.categories{
    border:3px inset blue;
    padding: 20px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
    font-size: 1em;
}

.categories ul{
    padding-left: 20px;
    list-style: none;
}

.categories li{
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
    list-style-image: url("../media/facebook.png");
}

#myForm{
    padding: 20px;
}

.form-group{
    padding-bottom:15px;
}

#myForm label{
    display:block;
    font-size: 20px;
    font-weight: bold;
}

#myForm input[type="text"], #myForm textarea{
    padding: 8px;
    width: 100%
}

/* this was changed to class in order to apply for many elements - USABILITY */
.btn{
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 25px 50px;
    margin-left: 43%;
}
.btn:hover{ 
    cursor: pointer; 
    background-color: lightblue;
    color: black;
    font-weight: bold;
}

.block{
    width: 33.3%;
    float: left;
    padding: 20px;
    border: 1px dashed gray;
    box-sizing:border-box;
}

.clr{
    clear: both;
}

#main-bar{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;

}

#side-bar{
    float: right;
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    background-color: gray;
    color: white;
}

#p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    background-image: url("https://cdn.wallpapersafari.com/86/49/KzqSU0.jpg");
    margin-top: 10px;
    position: relative;
}

#p-box h1{
    position: absolute;
    top: 400px;
    left: 100px;
}

#p-box h2{
    position: absolute;
    top: 400px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top:200px;
    padding: 10px 25px;
    margin-left: 1px;
}

#my-list li:nth-child(even){
    background-color: yellow;
}
#my-list li:nth-child(odd){
    background-color: gray;
}
#my-list li:first-child{
    background-color: red;
}
#my-list li:last-child{
    background-color: blue;
}
