body {
    background-color: aliceblue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

/* DESCENDANT COMBINATOR - to format any tag wich is descendant (child recursive) from reference */
/* a good way to avoid creating class all the time */
div p{
    color: red;
}